@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  overflow-y: auto !important;
}

.App {
  color: white;
}

.owl-stage {
  padding-left: 0px !important;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.NavLinks {
  padding-left: 8px;
  padding-right: 8px;
}

.NavLinks-i {
  padding: 0px;
}

.NavLinks:hover {
  color: #ffef00;
}

.MobileNav-bar {
  display: none;
  width: 100vw;
  background: #1c1e2e;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.16);
}

.MobileNav-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
  font-size: 12px;
  width: 88%;
}

.MobileIcon:hover,
.MobileIcon i:hover {
  color: #ffef00 !important;
}

.Videos {
  min-width: 200px;
  margin: 3px;
}

.VideoList {
  width: 32%;
  min-width: 320px;
  height: 230px;
  margin: 6px;
}

.Videos:hover {
  animation: shadow .4s ease forwards;
  z-index: 100;
}

.video-grid:hover .Videos:not(:hover) {
  animation: darken .4s ease forwards;
  z-index: -99;
}

@keyframes darken {
  to {
    opacity: .6;
  }
}

@keyframes shadow {
  to {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
  }
}

::selection {
  background: #ffef00;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffef00;
  /* Gecko Browsers */
}

.VideoOverlay {
  display: none;
}

.VideoOverlay i {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  animation: vidLinks .2s ease forwards;
}

.VideoOverlay a {
  color: white;
  text-decoration: none;
}

.VideoOverlay a:visited {
  color: white;
  text-decoration: none;
}

.VideoOverlay .fa-play-circle {
  animation: vidLinks .15s ease forwards;
}

.VideoOverlay .fa-bookmark {
  animation: vidLinks .2s ease forwards;
}

.VideoOverlay .fa-heart {
  animation: vidLinks .25s ease forwards;
}

.fa-play-circle:hover,
.fa-link:hover{
  color: #ffef00;
}

.fa-bookmark:hover {
  color: #8BFF0D;
}

.fa-heart:hover {
  color: #FC3163;
}

.VideoOverlay .fa-times:hover {
  color: #a7a7a7;
}

.growIcon {
  animation: growIcon .3s ease;
}

@keyframes vidLinks {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes growIcon {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(1.3);
    opacity: 5;
  }
  70% {
    transform: scale(1.7);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* content = container for videos */
.content {
  display: none;
  /* display: flex; */
}

.loading-container {
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.loading-circle {
  height: 45px;
  width: 45px;
  background: #ffef00;
  border-radius: 100%;
  animation: enlargeCircle 1.6s cubic-bezier(0, 1.64, .59, .68) infinite;
}

@keyframes enlargeCircle {
  0% {
    height: 30px;
    width: 30px;
  }
  50% {
    height: 0px;
    width: 0px;
  }
}

.ScreenAnimate {
  animation: slideUp .4s cubic-bezier(0, .99, .41, .88) forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}

/*=================
Video Modal Section 
===================*/

.VideoModal-container {
  position: absolute;
  top: 0;
  height: 100vh; width: 100vw;
  background: black;
  z-index: 1000;
}

.VideoModal-close {
  cursor: pointer;
  position: absolute;
  top: 20px; right: 20px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.555);
}

.VideoModal-youtube {
  height: 100%; width: 100%;
  overflow-y: hidden;
}

.VideoModal-youtube iframe {
  border: none;
  height: 100%; width: 100%;
}

/*=================
    Stat Section 
===================*/

.Stat-solo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 15px;  
}

.Stat-recent {
  flex-grow: 1;
  margin-left: 15px;
}

.Stat-container {
  font-size: 13px;    

}

.Stat-top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Stat-box {
  border: 1px solid white;
  display: flex;
  align-items: center;  
}

.Stat-box--sm {
  justify-content: space-between;
  padding: 30px 20px;
  margin-bottom: 15px;
}

.Stat-box--lg {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.Stat-solo .Stat-box span:nth-child(2) {
  text-align: right;
}

.Stat-header {
  margin-top: 0px;
}

.Stat-recent-list:nth-of-type(1) {
  border-top: 1px solid white;  
}

.Stat-recent-list a {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 20px 10px;
}

.Stat-recent-list a:hover {
  color: #ffef00;
}

.Stat-recent-list span:nth-of-type(2) {
  padding-left: 15px;
}

.Stat-videos {
  display: flex;
  justify-content: space-between;
}

.Stat-videos .Stat-box {
  flex-grow: 1;
}

.Stat-videos .Stat-box:nth-of-type(2) {
  margin-left: 15px;
  margin-right: 15px;
}

.Stat-videos .Stat-box span:nth-child(2) {
  font-size: 36px;
  font-weight: 700;
}

.Stat-recent-list .Stat-recent-empty {
  padding-top: 10px;
}

@media screen and (max-width: 740px) {
  .videoContainer {
    display: flex;
    justify-content: center;
  }
  .VideoList {
    width: 90%;
    min-width: 320px;
    max-height: 230px;
    margin: 4px;
  }
  .NavBar {
    justify-content: center !important;
  }
  .NavLink-wrapper {
    display: none;
  }
  .MobileNav-bar {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
  .Stat-top-row {
    display: flex;
    flex-direction: column;
  }
  .Stat-box--sm {
    justify-content: center;
    flex-direction: column;
  }
  .Stat-recent {
    margin: 0px;    
    margin-bottom: 30px;
  }
  .Stat-solo {
    margin-right: 0px;
    margin-bottom: 30px;    
  }
  .Stat-videos {
    flex-direction: column;
  }
  .Stat-videos .Stat-box:nth-of-type(2) {
    margin: 0px;
    margin-bottom: 15px;    
  }
  .Stat-videos .Stat-box--lg {
    margin-bottom: 15px;
  }
  .FooterContainer {
    padding-bottom: 70px;
  }
}